@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "_NestedLayout";
}

<table style=" width:100%; height:100%">
    <tr>
        <td>
             @RenderBody()

             <br /><br /><br /><br /><br /><br /><br />Follow us on: <img src="../../Images/icons.png" height:"30px" width:"10px" /">
            
            @section featured{
             @RenderSection("featuredcontent", required:false)
            }

        </td>
    </tr>

</table>
