@{
    Layout = "~/Views/Shared/_NestedLayout.cshtml";
    ViewBag.Title = "Contact";
}

@section featuredcontent {

    <p style="padding-left: 10px;">
        <strong>30% discount on morning shows....!!
        <br />
            Please contact us for more queries.
        </strong>
    </p>
}
<article>

    <h3 style="color: #003876">
        <span class="label">Support:</span>
        <span><a href="#">Contact@RainbowEntertainment.com</a></span>
    </h3>
    <h3 style="color: #003876">Address</h3>

    <h3 style="color: #003876">Rainbow Entertainment<br />
        Houston, USA
    </h3>
    <h3 style="color: #003876">
        <br />
        Contact Number:123-567-9671
       
    </h3>

    <p>&nbsp;</p>
</article>
